<div id="food-container" on-swipeleft="navigateNextDay" on-swiperight="navigatePreviousDay">
    {{#if loadingFoods}}
        {{>loading}}
    {{else}}
        {{>foodsbyrestaurant}}
    {{/if}}
</div>

<!--{{>loading}} -->
	<div class="progress progress-striped active">
        <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
         </div>
    </div>
<!--{{/loading}} -->

<!--{{>foodsbyrestaurant}} -->
   {{#each foodsByRestaurant:index}}
        <div class="item">
            <div class="container-fluid">
                <div>
                    <span class="glyphicon glyphicon-info-sign pull-right rest-info" on-tap="showRestaurantInfoClicked:{{restaurantName}},{{index}}"></span>
                    <h3>{{restaurantName}}</h3>
                </div>
                
                {{#if alert}}
                    <div class="alert alert-danger" role="alert">{{alert}}</div>
                {{/if}}

                {{#if isInfoShown}}
                    <ul>
                        <li>{{restaurantInfo.address}}</li>
                        <li>{{restaurantInfo.lunchTimes}}</li>
                    </ul>
                {{else}}
                    <table class="table">
                        <tbody>
                            {{#each lunches}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{diets}}</td>
                                    <td>{{ formatPrices(prices) }}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/if}}

            </div>
        </div>
    {{/each}}
<!--{{/foodsbyrestaurant}} -->
<!--{{/foodsbyrestaurant}} -->