@import "base.less";

body {
  padding-top: 70px;
}

.item {
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	border-radius: 3px;
	color: #333;
	border: none;
	width: 100%;
	min-height: 150px;
}

tbody > tr:first-child {
	border-top: 2px solid #ccc;
}

ul {
	margin-bottom: 2%;
}

#container {
	width: 100%;
	margin: 0;
}

@media (min-width: 380px) {
	.item {
		max-width: 380px;
	}

	#container {
	   width: 95%;
	   margin: auto;
	}
}
